#db settings
AUTH_DB_HOST=
AUTH_DB_PORT=
AUTH_DB_USER=
AUTH_DB_PASS=
AUTH_DB_NAME=


#app settings
AUTH_GRPC_PORT=

#admin data
ADMIN_LOGIN=
ADMIN_PASSWORD=

# JWT
JWT_SECRET_KEY=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=