.env
.env.*
.flaskenv

__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
/lib/python*/site-packages/

dist/
build/
*.egg-info/
.tox/

/logs/
*.log

.pytest_cache/
htmlcov/
.coverage

.idea/

.vscode/

.ipynb_checkpoints

.mypy_cache/

*.dockerignore

.DS_Store
Thumbs.db